@import "../../styles/common/variables";

.loader {
  animation: rotate 2s linear infinite;
  height: 100px;
  width: 100px;
}

.loader_circle {
  stroke: $accent-button-color;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  stroke-width: 4px;
  stroke-dasharray: 89, 200;
  stroke-dashoffset: 0;
  stroke: $accent-button-color;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  to {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
