$accent_1: #003c96;
$accent_2: #001e64;
$black: #2c2a29;
$description: #4d4d4d;
$bgFill: #ffffff;
$error: #a80000;
$link: #0d99ff;
$inputBg: #f0f0f0;
$placeholder: #969696;
$inputHover: #c8c8c8;
$additional: #f2f8ff;
$bgLogin: #001545;
