@import "./color";

@mixin font-parametr($weight, $size, $height, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: $height;
  color: $color;
}

@mixin display($display: block, $flexDir: row, $justCont: flex-start) {
  display: $display;
  flex-direction: $flexDir;
  justify-content: $justCont;
}

@mixin input($width: 410px) {
  border-radius: 12px;
  background-color: $inputBg;
  min-height: 50px;
  max-width: $width;
  padding-left: 46px;
  background-image: url("../../image/shopSelect/search.svg");
  background-repeat: no-repeat;
  background-position: left 16px bottom 14px;

  &:hover {
    border: 1px solid $inputHover;
  }

  &:focus {
    border: 1px solid $accent_1;
  }
}

@mixin button($height: 40px, $width: null) {
  width: $width;
  height: $height;
  border-radius: 12px;
  background: $accent_1;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: $accent_2;
  }
}
