$accent-text-color: #001e64;
$auth-default-text-color: #4d4d4d;
$auth-input-placeholder: #969696;
$auth-input-bcg-color: #f0f0f0;
$link-color: #0d99ff;
$forgot-pass-text-color: #2c2a29;
$accent-button-color: #003c96;
$auth-btn-text-color: #ffffff;
$auth-error-color: #a80000;
