.bg {
  background-color: #001545;
  background-image: url("../../image/lenta_bg_img.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1500px 595px;
}
